<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>nammaApartment.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>91894B04AC3B681D8AB7B97F7CB356E7A608AC1C</string>
				<key>dateExpires</key>
				<string>18/09/19</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>91894B04AC3B681D8AB7B97F7CB356E7A608AC1C</string>
						<key>dateExpires</key>
						<string>18/09/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PUZKL58568</string>
						<key>name</key>
						<string>Roshan Halwai</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>91894B04AC3B681D8AB7B97F7CB356E7A608AC1C</string>
						<key>dateExpires</key>
						<string>18/09/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PUZKL58568</string>
						<key>name</key>
						<string>Roshan Halwai</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>91894B04AC3B681D8AB7B97F7CB356E7A608AC1C</string>
						<key>dateExpires</key>
						<string>18/09/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PUZKL58568</string>
						<key>name</key>
						<string>Roshan Halwai</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>91894B04AC3B681D8AB7B97F7CB356E7A608AC1C</string>
						<key>dateExpires</key>
						<string>18/09/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>HCSStarRatingView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PUZKL58568</string>
						<key>name</key>
						<string>Roshan Halwai</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>91894B04AC3B681D8AB7B97F7CB356E7A608AC1C</string>
						<key>dateExpires</key>
						<string>18/09/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PUZKL58568</string>
						<key>name</key>
						<string>Roshan Halwai</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>91894B04AC3B681D8AB7B97F7CB356E7A608AC1C</string>
						<key>dateExpires</key>
						<string>18/09/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Razorpay.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PUZKL58568</string>
						<key>name</key>
						<string>Roshan Halwai</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>91894B04AC3B681D8AB7B97F7CB356E7A608AC1C</string>
						<key>dateExpires</key>
						<string>18/09/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PUZKL58568</string>
						<key>name</key>
						<string>Roshan Halwai</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>91894B04AC3B681D8AB7B97F7CB356E7A608AC1C</string>
						<key>dateExpires</key>
						<string>18/09/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PUZKL58568</string>
						<key>name</key>
						<string>Roshan Halwai</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>PUZKL58568.com.kirtanlab.nammaapartments</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>PUZKL58568</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>PUZKL58568.com.kirtanlab.nammaapartments</string>
				</array>
			</dict>
			<key>name</key>
			<string>nammaApartment.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>55c3677a-5f32-4463-ab03-de13217a6cee</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.kirtanlab.nammaapartments</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>PUZKL58568</string>
				<key>name</key>
				<string>Roshan Halwai</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
